:root {
  --dark-greyish-blue: #48556a;
  --greyish-blue: #9eafc2;
  --light-greyish-blue: #ecf2f8;
  --dark-blue: #6d7f97;
}

/* specificity: 0001 */
body {
  font-family: Manrope, sans-serif;
  color: var(--dark-greyish-blue);
  background-color: var(--light-greyish-blue);
}

/* specificity: 0001 */
section {
  display: flex;
  flex-wrap: wrap;
  width: 375px;
  margin: 10vh auto;
  background-color: white;
  border-radius: 10px;
}

/* specificity: 0001 */
header {
  width: 100%;
  height: 250px;
  background-image: url('images/drawers.jpg');
  background-size: cover;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

/* specificity: 0001 */
img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

/* specificity: 0001 */
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 80%;
  height: 15rem;
  margin: 2rem auto 1rem;
}

/* specificity: 0001 */
h1 {
  font-weight: 700;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5rem;
}

/* specificity: 0001 */
p {
  color: var(--greyish-blue);
  line-height: 1.5rem;
  font-size: 0.95rem;
}

/* specificity: 0001 */
footer {
  width: 100%;
  border-radius: 0 0 10px 10px;
}

/* specificity: 0010 */
.foot-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: inherit;
}

/* specificity: 0001 */
figure {
  display: flex;
  width: 68%;
  justify-content: space-between;
  align-items: center;
}

/* specificity: 0010 */
.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* specificity: 0001 */
figcaption {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 3rem;
}

/* specificity: 0002 */
figcaption > h1 {
  font-size: 0.9rem;
}

/* specificity: 0002 */
figcaption > p {
  font-size: 0.9rem;
}

/* specificity: 0010 */
.active {
  background-color: var(--dark-greyish-blue);
}

/* specificity: 0011 */
.active aside {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/* specificity: 0012 */
.active aside figure {
  width: 7rem;
}

/* specificity: 0011 */
.active p {
  font-size: 0.85rem;
  letter-spacing: 0.4rem;
  color: var(--greyish-blue);
}

/* specificity: 0010 */
.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
}

/* specificity: 0010 */
.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 2.3rem;
  background-color: var(--light-greyish-blue);
}

/* specificity: 0020 */
.active .share-button {
  background-color: var(--dark-blue);
}

/* specificity: 0010 */
.share-svg {
  width: 0.9rem;
  height: 0.9rem;
}

/* specificity: 0011 */
.share-svg > path {
  fill: var(--dark-greyish-blue);
}

/* specificity: 0021 */
.active .share-svg > path {
  fill: var(--light-greyish-blue);
}

/* specificity: 0010 */
.hidden {
  display: none;
}
